.root {
    -fx-background-color: #fabb2c;
}

.button-teacher {
    -fx-background-color: #024059;
    -fx-text-fill: white;
}

.big-label-teacher {
    -fx-text-fill: #6b6b6b;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.small-label-teacher {
    -fx-text-fill: white;
}

.button-student {
    -fx-background-color: #024059;
    -fx-text-fill: white;
}

#btnConfirmAttendance {
    -fx-background-color: #024059;
    -fx-text-fill: white;
    -fx-background-radius: 100;
}

.button-main {
    -fx-background-color: #6b6b6b;
    -fx-text-fill: #fabb2c;
    -fx-arc-width: 122;
    -fx-arc-height: 114;
}

#label-main {
    -fx-text-fill: #6b6b6b;
    -fx-underline: true;
    -fx-font-size: 26;
}

.anchorPane {
    -fx-background-color: #fabb2c;
}

.borderPane {
    -fx-background-color: #fabb2c;
}

.vbox {
    -fx-background-color: #fabb2c;
}

.HBox {
    -fx-background-color: #fabb2c;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#024059 100%, #FA2C2CFF 0%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #009ee2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #005797;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #fabb2c;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #024059;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: black;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-cell:even {
    -fx-background-color: #8f8;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(0, 138, 230, 0.85);
}

.progress-bar {
    -fx-accent: rgba(0, 138, 230, 0.85);
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.progress-bar > .track {
    -fx-border-radius: 100;
    -fx-background-radius: 5;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: white;
}

.split-pane {
    -fx-background-color: #fabb2c;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #fabb2c;

}
.split-pane:horizontal > .split-pane-divider{
    -fx-background-color: #fabb2c;
}
#very-big-label{
    -fx-font-size: 40;
    -fx-underline: true;
}