.root{
    -fx-background-color: #fabb2c;
}
.VBox{
    -fx-background-color: #fabb2c;
}
.split-pane {
    -fx-background-color: #fabb2c;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color:  #024059;
    -fx-background-color: #024059;
}
.HBox{
    -fx-background-color: #fabb2c;
}
.AnchorPane{
    -fx-background-color: #fabb2c;
}
.borderPane{
    -fx-background-color: #fabb2c;
}
.button{
    -fx-background-color:  #024059;
    -fx-text-fill: white;
}
#btnConfirmAttendance {
    -fx-background-color:  #024059;
    -fx-text-fill: white;
    -fx-background-radius: 100;
}